.my-header, .my-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: lightgray;
} 

.my-header-tile {
  font-size: 1.2em;
  font-weight: 700;
}

.full-page-logo {
  height: 60vh;
}

.center {
  text-align: center;
} 

.container{
  padding: 1em
}
